<%= form_for(@terrain_type) do |f| %>
  <% if @terrain_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@terrain_type.errors.count, "error") %> prohibited this terrain_type from being saved:</h2>

      <ul>
      <% @terrain_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name, 'Name' %>:
  <%= f.text_field :name %><br />
  <%= f.label :colour, 'Colour' %>:
  <%= f.text_field :colour %><br />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
