<p id="notice"><%= notice %></p>
<p>ID: <%= @terrain_type.id %></p>
<p>Name: <%= @terrain_type.name %></p>
<p>Colour: <%= @terrain_type.colour %></p>
<p>Created at: <%= @terrain_type.created_at %></p> 
<p>Updated at: <%= @terrain_type.updated_at %></p> 
<%= link_to 'Edit', edit_terrain_type_path(@terrain_type) %> |
<%= link_to 'Back', terrain_types_path %>
