<!DOCTYPE html>
<html>
<head>
  <title>KingdomForge</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery.min.js" %>
  <%= javascript_include_tag "jquery_ujs.js" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
